@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef; 
    margin: 0;
    padding: 20px;
}

.form_div{
	padding: 10px;
}

.name_group {
	display: flex;
	align-items: center;
	justify-content:space-between;
	margin-bottom: 10px;
}

.name-label{
	width:17%;
	font-weight: bold;
    color: #333;
}

.name-input{
	width:28%;
	border: 1px solid #00356B; 
	border-radius: 4px;
	padding: 5px;
}

.form_container {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    margin: auto;
}

.ad-label {
	width:17%;
	font-weight: bold;
    color: #333;
}

.ad-input  {
	width:28%;
	border: 1px solid #00356B; 
	border-radius: 4px;
	padding: 5px;
}

#signup_form {
    text-align: center;
    color: #00356B;
}

.address {
	display: flex;
	align-items:center;
	justify-content: space-between;	
	margin-bottom: 10px;
}


.form_input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #00356B; 
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.generic_label {
    font-weight: bold;
    color: #333;
}

.generic_label::placeholder{
	font-size: 16px;
}

.name_label::placeholder{
	font-size: 16px;
}

.add_label::placeholder{
	font-size: 16px;
}

.gender_group {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    padding: 5px;
    align-items: center;
}

.sub_btn {
    background: linear-gradient(135deg, #34d399, #059669);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0;
    margin-right: 15px;
    transition: all 0.3s ease;
    gap: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.sub_btn:hover {
    background: linear-gradient(135deg, #059669, #046c4e);
}

.view_btn{
	background: linear-gradient(135deg, #007BFF, #0056b3);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0;
    margin-right: 15px;
    transition: all 0.3s ease;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.view_btn:hover {
	background: linear-gradient(135deg, #004080, #00264d);    
}

.reset_btn {
    background: linear-gradient(135deg, #9ca3af, #4b5563);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0;
    margin-right: 15px;
    transition: all 0.3s ease;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.reset_btn:hover {
   background: linear-gradient(135deg, #4b5563, #374151);

}

