@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef; 
    margin: 0;
    padding: 20px;
}

.form_div{
	padding: 10px;
}

.name_group {
	display: flex;
	align-items: center;
	justify-content:space-between;
	margin-bottom: 10px;
}

.name-label{
	width:15%;
	font-weight: bold;
    color: #333;
}

.name-input{
	width:30%;
	border: 1px solid #00356B; 
	border-radius: 4px;
	padding: 5px;
}

.form_container {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    margin: auto;
}

.ad-label {
	width:13%;
	font-weight: bold;
    color: #333;
}

.ad-input  {
	width:32%;
	border: 1px solid #00356B; 
	border-radius: 4px;
	padding: 5px;
}

#signup_form {
    text-align: center;
    color: #007BFF;
}

.address {
	display: flex;
	align-items:center;
	justify-content: space-between;	
	margin-bottom: 10px;
}


.form_input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #00356B; 
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.generic_label {
    font-weight: bold;
    color: #333;
}

.gender_group {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    padding: 5px;
    align-items: center;
}

.sub_btn {
    background-color: #228822;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 5px;
    transition: background-color 0.3s;
}

.sub_btn:hover {
    background-color: #006400; 
}

.view_btn{
	background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 5px;
    transition: background-color 0.3s;
}

.view_btn:hover {
    background-color: #0056b3; 
}

.reset_btn {
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 5px;
    transition: background-color 0.3s;
}

.reset_btn:hover {
    background-color: #5a6268; 
}

