@charset "UTF-8";

body{
	font-family: 'Arial', sans-serif;
	background-color: #e9ecef; 
    margin: 0;
    padding: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table_div{
	padding: 10px;
	width: 90%;
}

#user_details{
	text-align: center;
	margin: 20px 0;
	font-size: 30px;
	font-weight: bold;
	color: #333;
}

.user_table{
	width: 100%;
	border-collapse: collapse;
	background: rgba(255,255,255,0.1);
	backdrop-filter: blur(10px);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    overflow: hidden;
}

.table_row_header {
    background: rgba(0, 0, 0, 0.8); 
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.table_header {
    padding: 15px;
    text-align: left;
}

.table_row_content:nth-child(even) {
    background: rgba(255, 255, 255, 0.2); 
}

.table_row_content:nth-child(odd) {
    background: rgba(255, 255, 255, 0.8); 
}

.table_cell {
    padding: 15px;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-top: 15px;
}

.upd_btn, .del_btn {
    width: 140px;
    margin-top: 20px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.upd_btn {
    background: linear-gradient(135deg, #34d399, #059669);
}

.upd_btn:hover {
    background: linear-gradient(135deg, #059669, #046c4e);
}

.del_btn {
    background: linear-gradient(135deg, #ef4444, #b91c1c);
}

.del_btn:hover {
    background: linear-gradient(135deg, #b91c1c, #7f1d1d);
}

@media(max-width:768px){
	body{
		font-size: 14px;
		padding: 10px; 
	}
}