@charset "UTF-8";

body{
	font-family: 'Arial', sans-serif;
	background-color: #e9ecef; 
    margin: 0;
    padding: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	height: 70px;
	background: #fff;
	border: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.banner_holder{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:0px 30px 0px 30px;
	height: 70px;
}

.banner_left{
	display: flex;
	gap:10px;
	flex-direction: row;
	height: 70px;
}

.logo_img_holder{
	width:70px;
}

.logo-image {
    width: 100%;
    height: auto;
  
}

#title{
	font-weight: bold;
	font-family: 'Garamond',serif;
	font-size: 30px;
}

#user_add_id{
	width: 45px;
	height: 45px;
}

.table_div{
	margin-top: 50px;
	padding: 10px;
	width: fit-content;
}

#user_details{
	text-align: center;
	margin: 20px 0;
	font-size: 30px;
	font-weight: bold;
	color: rgba(0,0,0,0.8);
}

.user_table{
	width: 100%;
	border-collapse: collapse;
	background: rgba(255,255,255,0.1);
	backdrop-filter: blur(10px);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    overflow: hidden;
}

.table_row_header {
    background: rgba(0, 0, 0, 0.8); 
    color: white;
    font-weight: bold;
}

.table_header {
    padding: 15px;
    text-align: left;
}

.table_row_content:nth-child(even) {
    background: rgba(255, 255, 255, 0.2); 
}

.table_row_content:nth-child(odd) {
    background: rgba(255, 255, 255, 0.8); 
}

.table_cell {
    padding: 15px;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

#edit_id{
	width: 30px;
	height: 30px;
}


#bin_id{
	width: 30px;
	height: 30px;
}
